
html, body
{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.86em;
	color: #222;
}

body
{
	margin: 10px;
}

h1
{
	font-size:14px;
	margin: 0px;
}


/* Links */

a
{
	color: #222;
	text-decoration: none;
}

/* Forms */

form
{
	margin: 0px;
	padding: 0px;
}

input, textarea, select
{
	float: left;
	font-size: 0.96em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

textarea.fixedwidth
{
	font-family: "Courier New", Courier, monospace !important;
}

#element, .element
{
	float: left;
	clear: both;
	padding-bottom: 8px;
	margin: 8px 0px 0px;
	border-bottom: 1px dotted silver;
	width: 550px;
}

#element *, .element *
{
	float: left;
}

#element label, .element label
{
	float: left;
	font-weight: bold;
	display: block;
	width: 140px;
	padding: 3px 10px 0px 0px;
	text-align: right;
	font-size: 0.9em;
}

#element input, .element input, #element textarea, .element textarea, #element select, .element select
{
	float: left;
}

#element label.short
{
	width: 100px;
}

#element input.submit, .element input.submit
{
	float: right;
}

#element .title, .element .title
{
	float: left;
	font-weight: bold;
	display: block;
	padding: 3px 10px 0px 0px;
	font-size: 1em;
}

fieldset
{
	float: left;
	margin: 10px 0px;
	padding: 5px 10px 10px;
	border: 1px dotted #444;
}

legend
{
	font-weight: bold;
	font-size: 1.1em;
	padding: 10px 4px;
}


/* Messages */

.message_container
{
	float: left;
	display: block;
	width: 100%;
}

.message_error
{
	display: block;
	padding: 10px;
	margin: 10px 0px;
	font-weight: bold;
	font-size: 1.1em;
	color: #CC0000;
	text-align: center;
	border: 1px solid silver;
	background-color: #EEEEEE;
}

.message_error a
{
	color: #AD0303;
}

.message_success
{
	display: block;
	padding: 10px;
	margin: 10px 0px;
	font-weight: bold;
	font-size: 1.1em;
	color: #3AB331;
	text-align: center;
	border: 1px solid silver;
	background-color: #EEEEEE;
}

.message_success a
{
	color: #0E7007;
}

/* Class Generation */

#class_results
{
	clear: both;
	margin: 10px 0px 0px;
}

#class_results textarea
{
	width: 1155px;
	height: 650px;
}

/* Index list */

ul.index
{
	margin-top: 25px;
}

ul.index li
{
	padding: 4px 0px;
}

ul.index a:hover
{
	font-weight: bold;
}

/* Permissions */

#permissions .element span
{
	font-size: 0.92em;
	font-weight: bold;
	margin: 0px 5px;
}

#permissions .group_name input
{
	font-weight: bold;
	width: 480px;
	border: 0px;
	margin-left: 12px;
}

#permissions .group_name span.title
{
	margin-left: 12px;
}

#permissions .group_name span.title span
{
	margin: 0px;
	float: none;
}

#permissions .element a.add_permission
{
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	background: url(images/add.png) no-repeat;
	cursor: pointer;
}

#permissions .element a.delete_permission,
#permissions .element a.delete_group
{
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	background: url(images/delete.png) no-repeat;
	cursor: pointer;
}

#permissions .group_permissions .element
{
	padding-left: 30px;
	width: 520px !important;
	padding-bottom: 4px;
}

#permissions .group_permissions .element input
{
	width: 245px;
	border: 0px;
	padding-bottom: 4px;
}

#permissions .dropdiv
{
	clear: both;
	position: relative;
}

#permissions a.dropdiv_hide, 
#permissions a.dropdiv_show
{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	position: absolute;
	top: -23px;
	left: -4px;
}

#permissions a.dropdiv_hide span, 
#permissions a.dropdiv_show span
{
	display: none;
}

#permissions a.dropdiv_hide
{
	background: url(images/bullet_toggle_minus.png) no-repeat left;
}

#permissions a.dropdiv_show
{
	background: url(images/bullet_toggle_plus.png) no-repeat left;
}

